@import url('react-inner-image-zoom/lib/InnerImageZoom/styles.css');
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback);

@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap);
.carousel .slide img {
  width: auto !important;
  max-width: 100% !important;
}
.carousel .slide iframe {
	margin:  0 !important;
	width: 100% !important;
}

@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;
